hr{
width: 30px  ;  
   height: 10px ;
background-color: black;
    
    
    
}
p{text-align: center;
}
h1{text-align: center;}
#home{
 background: linear-gradient(to right, red , yellow);   
  height: 100px  
    
    
}

.link {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding-left: 9px;
    float: left;
}

.link:hover{
    background-color: aquamarine;
}
#inspiration{text-align: center;}









































































































































































